* {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}

:root {
  --red: rgba(190, 48, 16, 0.771);
  --brown: rgb(76, 57, 52);
  --yellow-light-2: rgb(224, 210, 185);
  --yellow-light: rgba(224, 210, 185, 0.266);
  --yellow-title: rgb(255, 242, 220);
  --tomato-red: rgb(219, 61, 39);
  --tomato-red-dark: rgb(112, 32, 21);
  --button-green: rgba(41, 195, 46, 1);
}

html, body {
  background-color: var(--yellow-light);
  /* color: white; */
  height: 100%;
  overflow: hidden;
  width: 100%;
  margin: 0;
  user-select: none;
}

#pomodoro-title {
  /* position: absolute; */
  /* left: 50%;
  transform: translateX(-43%) translateY(-10%); */
  margin: 0;
  font-size: 40px;
  font-family: "Krona One", sans-serif;
}

#main-container {
  /* margin-top: 8vh; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#sign-up-with-google-button {
  color: white;
  font-size: 20px;
  border: none;
  background-color: var(--tomato-red);
  width: 300px;
  height: 50px;
  border-radius: 50px;
}

#or {
  margin: 20px;
  font-weight: bolder;
  font-size: 30px;
}

input {
  width: 285px;
  height: 40px;
  border: solid rgba(103, 103, 103, 0.7);
  border-radius: 10px;
  padding-left: 15px;
}

#sign-up-button {
   color: white;
  font-size: 20px;
  border: none;
  background-color: var(--tomato-red);
  width: 300px;
  height: 50px;
  border-radius: 50px;
}